container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_collectstatic:
    command: "django-admin collectstatic --noinput"  
  03_createsu:
    command: "django-admin createsu"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application