{% extends "base.html" %}

{% block page_title %}
  Create Review
{% endblock page_title %}

{% block content %}
<div class="flex flex-col items-center mb-8">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{% url "reviews:create" book.pk %}" method="POST">
    <span class="font-medium text-2xl text-center w-full block mb-5">Leave your review</span>
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-5">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="{{field.auto_id}}">{{field.label}}</label>
          <div class="shadow appearance-none border rounded w-full  text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          {{field}}
          </div>
      </div>
      {% endfor %}
    <button class="bg-blue-400 hover:bg-blue-600 text-white font-bold mt-2 py-2 px-4 rounded w-full">Submit Review</button>
  </form>
</div>
{% endblock content %}